

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@1,900&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

$peach: rgba(240, 145, 83, 0.651);
$primary: rgba(133, 89, 92, 0.9);
// $primary:rgba(255, 255, 255, 0.699);

*{
    padding:none;
    margin:0;
}

body{
    font-family: 'Raleway', sans-serif;
}
h1{
    font-family:'Playfair Display SC', serif;
    color:$primary;
    font-size:23em;
    font-weight: 900;
}
h3{
    font-size:3em;
    margin:0;
  
  
}
h6{

    color:$primary;
    font-size:2em;
  
}






//--------------------------------------------------//@at-root
body{
    margin:0;

}
.landing-page{
 
    // border:thin red solid;
    height: 120vh;
    background-color:$peach;
    padding:1em 15em;
    overflow: hidden;
    z-index: -10;


.section1{


    color:$primary;
    display: flex;
    // padding-left: 10em;
    padding-top:4em;


    

    .title{
        display: block;
        text-transform: uppercase;
        padding-right: 1em;
        border-right:.5em $primary solid; 

        h3{
         
            font-weight: 800 !important;
        }
    }
    .summary{
        padding-left:1em;

       h6{
        text-transform: capitalize;
        font-weight: 600 !important;
        // border:thin red solid;

       }
   
    }
    
    

}

.section2{
    display: flex;
    justify-content: flex-end;
    // border:thin purple solid;


    .stacy {
        line-height: 20em;
        padding: 4em 0em;

        h1 {
            // border:thin purple solid;
            font-family: 'Playfair Display', serif !important;
            font-style: italic;
            text-align: right;
            
        }

        span {
            display: block;
            text-transform: uppercase;
            font-family:'Playfair Display SC', serif;
        }
    }
}

.section3{
    // border:thin green solid;
    a{
        text-decoration: none;
        h6{
            text-transform: uppercase;
            font-weight: 900;
            font-size:2em;
         
            
        }
    }
    i{
        font-size: 4em;
        color:$primary;
    }
}
.green img{
    z-index: -5;

    position: absolute;
    animation-name: example;
    animation-duration: 40s;
    animation-iteration-count:infinite;
    }
    @keyframes example {
        0%   { right:0em; top:40em;}
        20%  { right:0em; top:-40em;  transform: rotateX(50deg);}
        35%  { right:20em; top:0em;  transform: rotateX(150deg);}
        50%  { right:-10em; top: 34em;}
        70%  { right:10em; top: 10em;}
        90% {right:5em; top:0em;}
        100% {right:0em; top:0em;}
    }
.lemon img{
    z-index:-8;

    position: absolute;
    animation-name: lemon;
    animation-duration: 50s;
    animation-iteration-count:infinite;
    }
    @keyframes lemon {
        0%   { right:20em; top:10em;}
        12%  { right:50em; top:0em;}
        20%  { right:60em; top:40em;  transform: rotateX(70deg);}
        33%  { right:45em; top: -20em;}
        45%  { right:40em; top: 40em;}
        93% {right:50em; top:0em;}
        100% {right:55em; top:60em;}
    }
.orange img{
    z-index: -7;
 
    position: absolute;
    animation-name:orange;
    animation-duration: 40s;
    animation-iteration-count:infinite;
    }
    @keyframes orange {
        0%   { left:0em; top:0em;}
        20%  { left:0em; top:50em;}
        40%  { left:30em; top:0em;}
        50%  { left:-20em; top: -20em;}
        65%  { left:0em; top: 40em;   transform: rotateX(150deg);}
        90% {left:20em; top:-30em;}
        100% {left:0em; top:60em;}
    }
}

