@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@1,900&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: none;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Playfair Display SC', serif;
  color: rgba(255, 255, 255, 0.699);
  font-size: 23em;
  font-weight: 900;
}

h3 {
  font-size: 3em;
  margin: 0;
}

h6 {
  color: rgba(255, 255, 255, 0.699);
  font-size: 2em;
}

body {
  margin: 0;
}

.landing-page {
  height: 120vh;
  background-color: rgba(245, 106, 13, 0.651);
  padding: 1em 10em;
  overflow: hidden;
}

.landing-page .section1 {
  color: rgba(255, 255, 255, 0.699);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4em;
}

.landing-page .section1 .title {
  display: block;
  text-transform: uppercase;
  padding-right: 1em;
  border-right: 0.5em rgba(255, 255, 255, 0.699) solid;
}

.landing-page .section1 .title h3 {
  font-weight: 800 !important;
}

.landing-page .section1 .summary {
  padding-left: 1em;
}

.landing-page .section1 .summary h6 {
  text-transform: capitalize;
  font-weight: 600 !important;
}

.landing-page .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.landing-page .section2 .stacy {
  line-height: 20em;
  padding: 4em 0em;
}

.landing-page .section2 .stacy h1 {
  font-family: 'Playfair Display', serif !important;
  font-style: italic;
  text-align: right;
}

.landing-page .section2 .stacy span {
  display: block;
  text-transform: uppercase;
  font-family: 'Playfair Display SC', serif;
}

.landing-page .section3 a {
  text-decoration: none;
}

.landing-page .section3 a h6 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2em;
}

.landing-page .section3 i {
  font-size: 4em;
  color: rgba(255, 255, 255, 0.699);
}

.landing-page .green img {
  z-index: -1;
  position: absolute;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes example {
  0% {
    right: 0em;
    top: 40em;
  }
  20% {
    right: 0em;
    top: -40em;
    -webkit-transform: rotateX(50deg);
            transform: rotateX(50deg);
  }
  35% {
    right: 20em;
    top: 0em;
    -webkit-transform: rotateX(150deg);
            transform: rotateX(150deg);
  }
  50% {
    right: -10em;
    top: 34em;
  }
  70% {
    right: 10em;
    top: 10em;
  }
  90% {
    right: 5em;
    top: 0em;
  }
  100% {
    right: 0em;
    top: 0em;
  }
}

@keyframes example {
  0% {
    right: 0em;
    top: 40em;
  }
  20% {
    right: 0em;
    top: -40em;
    -webkit-transform: rotateX(50deg);
            transform: rotateX(50deg);
  }
  35% {
    right: 20em;
    top: 0em;
    -webkit-transform: rotateX(150deg);
            transform: rotateX(150deg);
  }
  50% {
    right: -10em;
    top: 34em;
  }
  70% {
    right: 10em;
    top: 10em;
  }
  90% {
    right: 5em;
    top: 0em;
  }
  100% {
    right: 0em;
    top: 0em;
  }
}

.landing-page .yellow img {
  z-index: -16;
  position: absolute;
  -webkit-animation-name: yellow;
          animation-name: yellow;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes yellow {
  0% {
    right: 20em;
    top: 10em;
  }
  12% {
    right: 50em;
    top: 0em;
  }
  20% {
    right: 60em;
    top: 40em;
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
  }
  33% {
    right: 45em;
    top: -20em;
  }
  45% {
    right: 40em;
    top: 40em;
  }
  93% {
    right: 50em;
    top: 0em;
  }
  100% {
    right: 55em;
    top: 60em;
  }
}

@keyframes yellow {
  0% {
    right: 20em;
    top: 10em;
  }
  12% {
    right: 50em;
    top: 0em;
  }
  20% {
    right: 60em;
    top: 40em;
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
  }
  33% {
    right: 45em;
    top: -20em;
  }
  45% {
    right: 40em;
    top: 40em;
  }
  93% {
    right: 50em;
    top: 0em;
  }
  100% {
    right: 55em;
    top: 60em;
  }
}

.landing-page .orange img {
  z-index: -6;
  position: absolute;
  -webkit-animation-name: orange;
          animation-name: orange;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes orange {
  0% {
    left: 0em;
    top: 0em;
  }
  20% {
    left: 0em;
    top: 50em;
  }
  40% {
    left: 30em;
    top: 0em;
  }
  50% {
    left: -20em;
    top: -20em;
  }
  65% {
    left: 0em;
    top: 40em;
    -webkit-transform: rotateX(150deg);
            transform: rotateX(150deg);
  }
  90% {
    left: 20em;
    top: -30em;
  }
  100% {
    left: 0em;
    top: 60em;
  }
}

@keyframes orange {
  0% {
    left: 0em;
    top: 0em;
  }
  20% {
    left: 0em;
    top: 50em;
  }
  40% {
    left: 30em;
    top: 0em;
  }
  50% {
    left: -20em;
    top: -20em;
  }
  65% {
    left: 0em;
    top: 40em;
    -webkit-transform: rotateX(150deg);
            transform: rotateX(150deg);
  }
  90% {
    left: 20em;
    top: -30em;
  }
  100% {
    left: 0em;
    top: 60em;
  }
}
/*# sourceMappingURL=style.css.map */